<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293581689923-5a3vbsejagchifb04qbu0ra2d5hscvb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293581689923-5a3vbsejagchifb04qbu0ra2d5hscvb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDN8RRZ2cuy-PsQbWwygik_FH7DYN5aMvc</string>
	<key>GCM_SENDER_ID</key>
	<string>293581689923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterbootcamp2020.flutterBootcamp2020</string>
	<key>PROJECT_ID</key>
	<string>flutterbootcamp-e0f8f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbootcamp-e0f8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293581689923:ios:8896b5de5766b393e830f6</string>
</dict>
</plist>